/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: bold;
}
body{

}
/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới 
3. Từ tổng quan đến chi tiết
 */
/* 
1. Vị trí
2. Kích thước
3. Màu sắc 
4. Kiểu dáng (kiểu chữ, hình tròn, hình vuông,...)
 */
#main{

}

.logo{
  width: 45px;
  float: left;
}
/*----------------------BEGIN: HEADER------------------ */
#header{
  height: 76px;
  background-color: #002E94;
  padding: 16px 32px;
}

#nav{
  list-style-type: none;
  display: inline-block;
}

#nav li{
  display: inline-block;
  padding: 0px 16px;
}

.sign{
  display: flex;
  margin-left: 1.5em;
}

#nav li a, .sign-items{
  text-decoration: none;
}

#nav li a{
  color: #fff;
  line-height: 44px;
}

#nav > li > a {
  text-transform: uppercase;
}

.nav-items::after, .sign-items::after{
  content: " ";
  display: block;
  height: 3px;
  background-color: #2192FF;
  margin-top: -10px;
  transform: scale(0);
  transition: all 0.5s;
}

.nav-items:hover::after, .sign-items:hover::after{
  transform: scale(1);
}

.option{
  display: flex;
  float: right;
  line-height: 44px;
  align-items: center;
}

.sign-items{
  padding: 0 1em;
  color: #fff;
}

.sign-items+ .sign-items{
  border-left: 1px solid;
}

select{
  background: none;
  border: none;
  color: inherit;
}

select:hover{
  cursor: pointer;
}
/*------------------------ END: HEADER -------------------------------*/

#slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
}

.image{
width: 100%;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
 width: 25%;
 transition: 2s;
}

.nav-manual{
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  width: 15px;
  height: 15px;
  padding: 6px;
  border: 2px solid #1746A2;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #002E94;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}



#content{

}

#footer{

}